body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(234, 232, 232);
    text-align: center;
}

.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(103, 2, 255);
    color: white;
    justify-content: center;
}


.output-section{
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 232, 232);
}


input{
    padding: 2px 2px 2px 2px;
    width: 150px;
    height: 75px;
    font-family: 'Outfit', sans-serif;
    font-size: 48px;
    text-align: center;
    border: 2px solid rgb(255, 202, 202);
    background-color: rgb(103, 2, 255);
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

button{
    width: 160px;
    height: 40px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: rgb(103, 2, 255);
    margin-top: 20px;
    margin-bottom: 50px;

}

.text-box{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 20px 10px 20px;
}




