body{
    display: flex;
    justify-content: center;
    background-color: black;
}

div{
    margin-top: 50px;
    background-color: white;
    width: 400px;
    height: 320px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: black;
    margin-left: 30px;
    margin-top: 40px;
}

#price-icon img {
  height: 1em;   /* matches the text height */
  width: auto;   /* keeps aspect ratio */
  vertical-align: middle; /* aligns with text */
}


