#heading{
    margin: 0;
    font-family: "Instrument Serif", serif;
    font-weight: 800;
    font-style: italic;
    font-size: 200px;
    letter-spacing: 30px;
    padding-bottom: 0;
    

}

#subheading{
    margin: 0;
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    background-color: rgb(0, 128, 255);
    padding: 20px 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
}

.white-text-colour{
    color: white;
    text-shadow: 5px 10px 15px rgb(57, 53, 53);
}



.hero-section{
    height: 720px;
    background: url("./images/kolkata-hero.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
}

.attractions{
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
    
}

.Instrument-Serif{
    padding-top: 10px;
    font-family: "Instrument Serif", serif;
    font-weight: 800;
    font-style: italic;
}
.Coveat{
    font-family: "Caveat", cursive;
}
.second-section{
    padding-top: 50px;
    text-align: center;
    
    
}

.section-header{
    font-size: 90px;
    text-align: center;
}

p{
    text-align: justify;
}


.border{
    border: 2px solid black;
    border-radius: 20px;
}

.image1{
    width: 420px;
    height: 280px;
    background: url(./images/culutre.jpg);
    background-size: cover;
    border-radius: 10px;
}

.image2{
    width: 420px;
    height: 280px;
    background: url(./images/pastglories.jpg);
    background-size: cover;
    border-radius: 10px;
}

.image3{
    width: 420px;
    height: 280px;
    background: url(./images/sports.jpg);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.imageboxes{
    padding: 10px;
}

.textboxes{
    padding: 20px;
}


.card{
    width: 900px;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background: #1c2126;
    color: aliceblue;
    margin-bottom: 50px;
}
.avater{
    width: 400px;
    border-radius: 20px;
    
}

.text{
    text-align: left;
    margin-left: 20px;
}

.border-blue{
    border-bottom: 10px solid rgb(192, 106, 253);
}


.name{
    font-size: 70px;
    text-align: center;
}

.miscfont{
    font-size: 26px;
    text-align: justify;
    padding-right: 20px;
    
}
