body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background: #1c2126;
    color: aliceblue;
}
.avater{
    width: 150px;
    
}

.text{
    text-align: center;
    margin-left: 20px;
}

.border-blue{
    border-bottom: 10px solid rgb(192, 106, 253);
}