.searchbar {
    width: 400px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    
    border-radius: 24px;
    line-height: 24px;
    border: 1px solid #dfe1e5;
}

.main{
    margin-top: 100px;
    
}

.logo{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.btn-wrapper{
    display: flex;
    justify-content: center;
    
}

.text_buttons{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
}