.hero{
    color: white;
    background-image: url("images/giphy.webp");
    background-size: cover;
    text-align: center;
    font-family: "Oxanium", sans-serif;
    font-size: 30px;
    padding: 10px 0 50px 0;
    text-shadow: 5px 4px 10px rgb(0, 0, 0);
}
body{
    margin: 0;
}
.btn-wrapper{

    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: "Oxanium", sans-serif;
}

span{
    color: rgb(248, 124, 0);
    
}

#main-logo{
    width: 250px;
}

.tac{
    font-family: "Oxanium", sans-serif;
    text-align: center;
    font-size: 25px;
}




