body{
    font-family: Outfit;
    background-color: rgb(0, 8, 38);
    color: whitesmoke;
    margin-left: 50px;
}
#heading1{
    display: block;
    margin-bottom: 0px;
}
#heading2{
    display: block;
    margin: 0px auto 5px;
    color: rgb(23, 203, 92);
}

#subheading{
    font-weight: 300;
    margin-top: 0px;
}

#generatebutton-el{
    background-color:rgb(19, 182, 81);
    border: none;
    font-family: Outfit;
    color: whitesmoke;
    padding: 8px;
    border-radius: 3px;
}

.placeholder{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}



.placeholderbox{
    width: 250px;
    background-color: rgb(23, 31, 61);
    display: block;
    padding-top: 2px;
    padding-bottom: 5px;
    border-radius: 3px;
    height: 20px;
}
